<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

  <!-- 配置Solrclient对象 -->
  <!-- 单机版 -->
  <!-- 实例化HttpSolrServer对象 -->
  <bean id="solrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
    <!-- 构造注入 -->
    <constructor-arg name="builder" ref="builder"></constructor-arg>
  </bean>
  <bean id="builder" class="org.apache.solr.client.solrj.impl.HttpSolrClient.Builder">
    <constructor-arg name="baseSolrUrl" value="${SOLR.SERVER.URL}"></constructor-arg>
  </bean>
  <bean id="itemService" class="com.taotao.search.service.impl.ItemServiceImpl"></bean>
</beans>
